flows.json
[
    {
        "id": "tab-state",
        "type": "tab",
        "label": "State",
        "disabled": false,
        "info": "State/read endpoints — device and room state queries"
    },
    {
        "id": "tab-lights",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": "Light control endpoints — on/off/dim/color-temp per room"
    },
    {
        "id": "tab-scenes",
        "type": "tab",
        "label": "Scenes",
        "disabled": false,
        "info": "Scene activation endpoints — morning/evening/night/away/welcome"
    },
    {
        "id": "tab-heating",
        "type": "tab",
        "label": "Heating",
        "disabled": false,
        "info": "Heating control endpoints — thermostat setpoints and modes"
    },
    {
        "id": "tab-cloud",
        "type": "tab",
        "label": "Cloud Sync",
        "disabled": false,
        "info": "Cloud synchronisation endpoints"
    },
    {
        "id": "tab-dashboard",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "Dashboard UI wiring — connects device state to UI widgets"
    },

    {"id": "ui-base", "type": "ui-base", "name": "digitalhome.edge", "path": "/ui", "appIcon": "", "colour": "#1e293b", "darkTheme": true, "sizes": {"pagePadding": "12px", "groupGap": "12px", "groupBorderRadius": "8px", "widgetGap": "6px"}},

    {"id": "ui-page-home", "type": "ui-page", "name": "Home", "ui": "ui-base", "path": "/home", "icon": "home", "layout": "grid", "theme": "ui-base", "order": 1, "className": ""},
    {"id": "ui-page-lights", "type": "ui-page", "name": "Lights", "ui": "ui-base", "path": "/lights", "icon": "lightbulb", "layout": "grid", "theme": "ui-base", "order": 2, "className": ""},
    {"id": "ui-page-heating", "type": "ui-page", "name": "Heating", "ui": "ui-base", "path": "/heating", "icon": "thermostat", "layout": "grid", "theme": "ui-base", "order": 3, "className": ""},
    {"id": "ui-page-scenes", "type": "ui-page", "name": "Scenes", "ui": "ui-base", "path": "/scenes", "icon": "theater_comedy", "layout": "grid", "theme": "ui-base", "order": 4, "className": ""},
    {"id": "ui-page-system", "type": "ui-page", "name": "System", "ui": "ui-base", "path": "/system", "icon": "settings", "layout": "grid", "theme": "ui-base", "order": 5, "className": ""},

    {"id": "ui-group-header", "type": "ui-group", "name": "Header", "page": "ui-page-home", "width": "6", "height": "1", "order": 1, "showTitle": false, "className": ""},
    {"id": "ui-group-rooms", "type": "ui-group", "name": "Rooms", "page": "ui-page-home", "width": "6", "height": "1", "order": 2, "showTitle": true, "className": ""},
    {"id": "ui-group-quickactions", "type": "ui-group", "name": "Quick Actions", "page": "ui-page-home", "width": "6", "height": "1", "order": 3, "showTitle": true, "className": ""},

    {"id": "ui-group-living", "type": "ui-group", "name": "Living Room", "page": "ui-page-lights", "width": "3", "height": "1", "order": 1, "showTitle": true, "className": ""},
    {"id": "ui-group-kitchen", "type": "ui-group", "name": "Kitchen", "page": "ui-page-lights", "width": "3", "height": "1", "order": 2, "showTitle": true, "className": ""},
    {"id": "ui-group-bedroom", "type": "ui-group", "name": "Bedroom", "page": "ui-page-lights", "width": "3", "height": "1", "order": 3, "showTitle": true, "className": ""},
    {"id": "ui-group-bathroom", "type": "ui-group", "name": "Bathroom", "page": "ui-page-lights", "width": "3", "height": "1", "order": 4, "showTitle": true, "className": ""},
    {"id": "ui-group-entrance", "type": "ui-group", "name": "Entrance", "page": "ui-page-lights", "width": "3", "height": "1", "order": 5, "showTitle": true, "className": ""},
    {"id": "ui-group-office", "type": "ui-group", "name": "Office", "page": "ui-page-lights", "width": "3", "height": "1", "order": 6, "showTitle": true, "className": ""},

    {"id": "ui-group-thermo-living", "type": "ui-group", "name": "Living Room", "page": "ui-page-heating", "width": "3", "height": "1", "order": 1, "showTitle": true, "className": ""},
    {"id": "ui-group-thermo-kitchen", "type": "ui-group", "name": "Kitchen", "page": "ui-page-heating", "width": "3", "height": "1", "order": 2, "showTitle": true, "className": ""},
    {"id": "ui-group-thermo-bedroom", "type": "ui-group", "name": "Bedroom", "page": "ui-page-heating", "width": "3", "height": "1", "order": 3, "showTitle": true, "className": ""},
    {"id": "ui-group-thermo-bathroom", "type": "ui-group", "name": "Bathroom", "page": "ui-page-heating", "width": "3", "height": "1", "order": 4, "showTitle": true, "className": ""},
    {"id": "ui-group-heating-modes", "type": "ui-group", "name": "Modes", "page": "ui-page-heating", "width": "6", "height": "1", "order": 5, "showTitle": true, "className": ""},

    {"id": "ui-group-scenes", "type": "ui-group", "name": "Scenes", "page": "ui-page-scenes", "width": "6", "height": "1", "order": 1, "showTitle": false, "className": ""},

    {"id": "ui-group-status", "type": "ui-group", "name": "Service Status", "page": "ui-page-system", "width": "6", "height": "1", "order": 1, "showTitle": true, "className": ""},

    {"id": "comment-state-header", "type": "comment", "z": "tab-state", "name": "STATE / READ ENDPOINTS", "info": "GET endpoints that return device and room state.\n/api/state/all is fully wired as a reference implementation.", "x": 160, "y": 40, "wires": []},

    {"id": "state-all-in", "type": "http in", "z": "tab-state", "name": "/api/state/all", "url": "/api/state/all", "method": "get", "upload": false, "swaggerDoc": "", "x": 140, "y": 120, "wires": [["state-all-ccu", "state-all-hue"]]},
    {"id": "state-all-ccu", "type": "http request", "z": "tab-state", "name": "CCU: get devices", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "http://homematic-ccu/addons/xmlapi/statelist.cgi", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 380, "y": 100, "wires": [["state-all-join"]]},
    {"id": "state-all-hue", "type": "http request", "z": "tab-state", "name": "Hue: get lights", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "http://hue-bridge/api/${HUE_API_KEY}/lights", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 380, "y": 140, "wires": [["state-all-join"]]},
    {"id": "state-all-join", "type": "join", "z": "tab-state", "name": "merge", "mode": "custom", "build": "object", "property": "payload", "propertyType": "msg", "key": "topic", "joiner": "\\n", "joinerType": "str", "accumulate": false, "timeout": "5", "count": "2", "reduceRight": false, "reduceExp": "", "reduceInit": "", "reduceInitType": "", "reduceFixup": "", "x": 570, "y": 120, "wires": [["state-all-format"]]},
    {"id": "state-all-format", "type": "function", "z": "tab-state", "name": "format response", "func": "msg.payload = {\n    status: \"ok\",\n    timestamp: new Date().toISOString(),\n    ccu: msg.payload.ccu || {},\n    hue: msg.payload.hue || {}\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 730, "y": 120, "wires": [["state-all-out"]]},
    {"id": "state-all-out", "type": "http response", "z": "tab-state", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 890, "y": 120, "wires": []},

    {"id": "state-room-in", "type": "http in", "z": "tab-state", "name": "/api/state/:room", "url": "/api/state/:room", "method": "get", "upload": false, "swaggerDoc": "", "x": 150, "y": 240, "wires": [["state-room-fn"]]},
    {"id": "state-room-fn", "type": "function", "z": "tab-state", "name": "TODO: filter by room", "func": "// TODO: query CCU + Hue for devices in msg.req.params.room\nmsg.payload = {\n    status: \"ok\",\n    room: msg.req.params.room,\n    devices: []\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 240, "wires": [["state-room-out"]]},
    {"id": "state-room-out", "type": "http response", "z": "tab-state", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 610, "y": 240, "wires": []},

    {"id": "heating-status-in", "type": "http in", "z": "tab-state", "name": "/api/heating/status", "url": "/api/heating/status", "method": "get", "upload": false, "swaggerDoc": "", "x": 160, "y": 340, "wires": [["heating-status-fn"]]},
    {"id": "heating-status-fn", "type": "function", "z": "tab-state", "name": "TODO: read thermostats", "func": "// TODO: query CCU for all thermostat setpoints + current temps\nmsg.payload = {\n    status: \"ok\",\n    thermostats: []\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 410, "y": 340, "wires": [["heating-status-out"]]},
    {"id": "heating-status-out", "type": "http response", "z": "tab-state", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 630, "y": 340, "wires": []},

    {"id": "comment-lights-header", "type": "comment", "z": "tab-lights", "name": "LIGHT CONTROL ENDPOINTS", "info": "POST endpoints for per-room light control.\nRoom param: living-room, kitchen, bedroom, bathroom, entrance, office", "x": 170, "y": 40, "wires": []},

    {"id": "lights-on-in", "type": "http in", "z": "tab-lights", "name": "/api/lights/:room/on", "url": "/api/lights/:room/on", "method": "post", "upload": false, "swaggerDoc": "", "x": 160, "y": 120, "wires": [["lights-on-fn"]]},
    {"id": "lights-on-fn", "type": "function", "z": "tab-lights", "name": "TODO: turn on lights", "func": "// TODO: send ON command to Hue lights in msg.req.params.room\nmsg.payload = {\n    status: \"ok\",\n    room: msg.req.params.room,\n    action: \"on\"\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 120, "wires": [["lights-on-out"]]},
    {"id": "lights-on-out", "type": "http response", "z": "tab-lights", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 610, "y": 120, "wires": []},

    {"id": "lights-off-in", "type": "http in", "z": "tab-lights", "name": "/api/lights/:room/off", "url": "/api/lights/:room/off", "method": "post", "upload": false, "swaggerDoc": "", "x": 160, "y": 200, "wires": [["lights-off-fn"]]},
    {"id": "lights-off-fn", "type": "function", "z": "tab-lights", "name": "TODO: turn off lights", "func": "// TODO: send OFF command to Hue lights in msg.req.params.room\nmsg.payload = {\n    status: \"ok\",\n    room: msg.req.params.room,\n    action: \"off\"\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 200, "wires": [["lights-off-out"]]},
    {"id": "lights-off-out", "type": "http response", "z": "tab-lights", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 610, "y": 200, "wires": []},

    {"id": "lights-dim-in", "type": "http in", "z": "tab-lights", "name": "/api/lights/:room/dim", "url": "/api/lights/:room/dim", "method": "post", "upload": false, "swaggerDoc": "", "x": 160, "y": 280, "wires": [["lights-dim-fn"]]},
    {"id": "lights-dim-fn", "type": "function", "z": "tab-lights", "name": "TODO: set brightness", "func": "// TODO: set Hue brightness to msg.payload.level (0-100)\nconst level = msg.payload.level || 0;\nmsg.payload = {\n    status: \"ok\",\n    room: msg.req.params.room,\n    action: \"dim\",\n    level: level\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 280, "wires": [["lights-dim-out"]]},
    {"id": "lights-dim-out", "type": "http response", "z": "tab-lights", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 610, "y": 280, "wires": []},

    {"id": "lights-ct-in", "type": "http in", "z": "tab-lights", "name": "/api/lights/:room/color-temp", "url": "/api/lights/:room/color-temp", "method": "post", "upload": false, "swaggerDoc": "", "x": 180, "y": 360, "wires": [["lights-ct-fn"]]},
    {"id": "lights-ct-fn", "type": "function", "z": "tab-lights", "name": "TODO: set color temp", "func": "// TODO: set Hue color temperature to msg.payload.ct (153-500)\nconst ct = msg.payload.ct || 300;\nmsg.payload = {\n    status: \"ok\",\n    room: msg.req.params.room,\n    action: \"color-temp\",\n    ct: ct\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 420, "y": 360, "wires": [["lights-ct-out"]]},
    {"id": "lights-ct-out", "type": "http response", "z": "tab-lights", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 630, "y": 360, "wires": []},

    {"id": "comment-scenes-header", "type": "comment", "z": "tab-scenes", "name": "SCENE ENDPOINTS", "info": "POST endpoints to activate predefined scenes.\nEach scene triggers a combination of light and heating actions.", "x": 140, "y": 40, "wires": []},

    {"id": "scene-morning-in", "type": "http in", "z": "tab-scenes", "name": "/api/scene/morning", "url": "/api/scene/morning", "method": "post", "upload": false, "swaggerDoc": "", "x": 160, "y": 120, "wires": [["scene-morning-fn"]]},
    {"id": "scene-morning-fn", "type": "function", "z": "tab-scenes", "name": "TODO: morning routine", "func": "// TODO: gradual warm light, comfort heating\nmsg.payload = { status: \"ok\", scene: \"morning\" };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 410, "y": 120, "wires": [["scene-morning-out"]]},
    {"id": "scene-morning-out", "type": "http response", "z": "tab-scenes", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 630, "y": 120, "wires": []},

    {"id": "scene-evening-in", "type": "http in", "z": "tab-scenes", "name": "/api/scene/evening", "url": "/api/scene/evening", "method": "post", "upload": false, "swaggerDoc": "", "x": 160, "y": 200, "wires": [["scene-evening-fn"]]},
    {"id": "scene-evening-fn", "type": "function", "z": "tab-scenes", "name": "TODO: evening routine", "func": "// TODO: warm dimmed lights\nmsg.payload = { status: \"ok\", scene: \"evening\" };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 410, "y": 200, "wires": [["scene-evening-out"]]},
    {"id": "scene-evening-out", "type": "http response", "z": "tab-scenes", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 630, "y": 200, "wires": []},

    {"id": "scene-night-in", "type": "http in", "z": "tab-scenes", "name": "/api/scene/night", "url": "/api/scene/night", "method": "post", "upload": false, "swaggerDoc": "", "x": 150, "y": 280, "wires": [["scene-night-fn"]]},
    {"id": "scene-night-fn", "type": "function", "z": "tab-scenes", "name": "TODO: night mode", "func": "// TODO: minimal light\nmsg.payload = { status: \"ok\", scene: \"night\" };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 390, "y": 280, "wires": [["scene-night-out"]]},
    {"id": "scene-night-out", "type": "http response", "z": "tab-scenes", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 610, "y": 280, "wires": []},

    {"id": "scene-away-in", "type": "http in", "z": "tab-scenes", "name": "/api/scene/away", "url": "/api/scene/away", "method": "post", "upload": false, "swaggerDoc": "", "x": 150, "y": 360, "wires": [["scene-away-fn"]]},
    {"id": "scene-away-fn", "type": "function", "z": "tab-scenes", "name": "TODO: away mode", "func": "// TODO: all lights off + security mode\nmsg.payload = { status: \"ok\", scene: \"away\" };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 390, "y": 360, "wires": [["scene-away-out"]]},
    {"id": "scene-away-out", "type": "http response", "z": "tab-scenes", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 610, "y": 360, "wires": []},

    {"id": "scene-welcome-in", "type": "http in", "z": "tab-scenes", "name": "/api/scene/welcome", "url": "/api/scene/welcome", "method": "post", "upload": false, "swaggerDoc": "", "x": 160, "y": 440, "wires": [["scene-welcome-fn"]]},
    {"id": "scene-welcome-fn", "type": "function", "z": "tab-scenes", "name": "TODO: welcome", "func": "// TODO: entrance lights on\nmsg.payload = { status: \"ok\", scene: \"welcome\" };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 440, "wires": [["scene-welcome-out"]]},
    {"id": "scene-welcome-out", "type": "http response", "z": "tab-scenes", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 620, "y": 440, "wires": []},

    {"id": "comment-heating-header", "type": "comment", "z": "tab-heating", "name": "HEATING CONTROL ENDPOINTS", "info": "POST endpoints for thermostat control via Homematic CCU.\nRoom param: living-room, kitchen, bedroom, bathroom, entrance, office", "x": 170, "y": 40, "wires": []},

    {"id": "heating-set-in", "type": "http in", "z": "tab-heating", "name": "/api/heating/:room/set", "url": "/api/heating/:room/set", "method": "post", "upload": false, "swaggerDoc": "", "x": 170, "y": 120, "wires": [["heating-set-fn"]]},
    {"id": "heating-set-fn", "type": "function", "z": "tab-heating", "name": "TODO: set thermostat", "func": "// TODO: set CCU thermostat setpoint to msg.payload.temp\nconst temp = msg.payload.temp || 20;\nmsg.payload = {\n    status: \"ok\",\n    room: msg.req.params.room,\n    action: \"set\",\n    temp: temp\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 410, "y": 120, "wires": [["heating-set-out"]]},
    {"id": "heating-set-out", "type": "http response", "z": "tab-heating", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 630, "y": 120, "wires": []},

    {"id": "heating-eco-in", "type": "http in", "z": "tab-heating", "name": "/api/heating/eco", "url": "/api/heating/eco", "method": "post", "upload": false, "swaggerDoc": "", "x": 150, "y": 220, "wires": [["heating-eco-fn"]]},
    {"id": "heating-eco-fn", "type": "function", "z": "tab-heating", "name": "TODO: eco mode", "func": "// TODO: set all CCU thermostats to eco setpoint\nmsg.payload = { status: \"ok\", action: \"eco\" };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 390, "y": 220, "wires": [["heating-eco-out"]]},
    {"id": "heating-eco-out", "type": "http response", "z": "tab-heating", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 610, "y": 220, "wires": []},

    {"id": "heating-comfort-in", "type": "http in", "z": "tab-heating", "name": "/api/heating/comfort", "url": "/api/heating/comfort", "method": "post", "upload": false, "swaggerDoc": "", "x": 160, "y": 300, "wires": [["heating-comfort-fn"]]},
    {"id": "heating-comfort-fn", "type": "function", "z": "tab-heating", "name": "TODO: comfort mode", "func": "// TODO: set all CCU thermostats to comfort setpoint\nmsg.payload = { status: \"ok\", action: \"comfort\" };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 410, "y": 300, "wires": [["heating-comfort-out"]]},
    {"id": "heating-comfort-out", "type": "http response", "z": "tab-heating", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 630, "y": 300, "wires": []},

    {"id": "comment-cloud-header", "type": "comment", "z": "tab-cloud", "name": "CLOUD SYNC ENDPOINTS", "info": "Endpoints for synchronising state with digitalhome.cloud", "x": 160, "y": 40, "wires": []},

    {"id": "cloud-sync-in", "type": "http in", "z": "tab-cloud", "name": "/api/cloud/sync", "url": "/api/cloud/sync", "method": "post", "upload": false, "swaggerDoc": "", "x": 150, "y": 120, "wires": [["cloud-sync-fn"]]},
    {"id": "cloud-sync-fn", "type": "function", "z": "tab-cloud", "name": "TODO: push state to cloud", "func": "// TODO: collect full state snapshot, POST to digitalhome.cloud API\nmsg.payload = { status: \"ok\", action: \"cloud-sync\" };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 410, "y": 120, "wires": [["cloud-sync-out"]]},
    {"id": "cloud-sync-out", "type": "http response", "z": "tab-cloud", "name": "200", "statusCode": "200", "headers": {"content-type": "application/json"}, "x": 630, "y": 120, "wires": []},

    {"id": "comment-dashboard-header", "type": "comment", "z": "tab-dashboard", "name": "DASHBOARD UI WIRING", "info": "Dashboard widgets that connect to the API flows.\nUI served at :1880/ui", "x": 150, "y": 40, "wires": []},

    {"id": "ui-header", "type": "ui-template", "z": "tab-dashboard", "group": "ui-group-header", "name": "Header", "order": 1, "width": "6", "height": "1", "head": "", "format": "<template>\n  <div style=\"display:flex; align-items:center; gap:12px; padding:4px 0;\">\n    <div style=\"width:10px; height:10px; border-radius:50%; background:#22c55e;\"></div>\n    <div>\n      <div style=\"font-size:1.2em; font-weight:600; color:#e2e8f0;\">digitalhome.edge</div>\n      <div style=\"font-size:0.8em; color:#94a3b8;\">Stage Server</div>\n    </div>\n  </div>\n</template>", "storeOutMessages": false, "passthru": false, "resendOnRefresh": true, "templateScope": "local", "className": "", "x": 160, "y": 120, "wires": [[]]},

    {"id": "ui-scene-morning", "type": "ui-button", "z": "tab-dashboard", "group": "ui-group-quickactions", "name": "Morning", "label": "Morning", "order": 1, "width": "2", "height": "1", "passthru": false, "tooltip": "Activate morning scene", "color": "", "bgcolor": "#1e40af", "className": "", "icon": "mdi-weather-sunset-up", "payload": "{}", "payloadType": "json", "topic": "morning", "textColor": "", "x": 160, "y": 200, "wires": [["ui-scene-morning-req"]]},
    {"id": "ui-scene-morning-req", "type": "http request", "z": "tab-dashboard", "name": "POST /api/scene/morning", "method": "POST", "ret": "obj", "paytoqs": "ignore", "url": "http://localhost:1880/api/scene/morning", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 400, "y": 200, "wires": [["ui-scene-notify"]]},

    {"id": "ui-scene-evening", "type": "ui-button", "z": "tab-dashboard", "group": "ui-group-quickactions", "name": "Evening", "label": "Evening", "order": 2, "width": "2", "height": "1", "passthru": false, "tooltip": "Activate evening scene", "color": "", "bgcolor": "#1e40af", "className": "", "icon": "mdi-weather-sunset-down", "payload": "{}", "payloadType": "json", "topic": "evening", "textColor": "", "x": 160, "y": 260, "wires": [["ui-scene-evening-req"]]},
    {"id": "ui-scene-evening-req", "type": "http request", "z": "tab-dashboard", "name": "POST /api/scene/evening", "method": "POST", "ret": "obj", "paytoqs": "ignore", "url": "http://localhost:1880/api/scene/evening", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 400, "y": 260, "wires": [["ui-scene-notify"]]},

    {"id": "ui-scene-night", "type": "ui-button", "z": "tab-dashboard", "group": "ui-group-quickactions", "name": "Night", "label": "Night", "order": 3, "width": "2", "height": "1", "passthru": false, "tooltip": "Activate night scene", "color": "", "bgcolor": "#1e3a5f", "className": "", "icon": "mdi-weather-night", "payload": "{}", "payloadType": "json", "topic": "night", "textColor": "", "x": 160, "y": 320, "wires": [["ui-scene-night-req"]]},
    {"id": "ui-scene-night-req", "type": "http request", "z": "tab-dashboard", "name": "POST /api/scene/night", "method": "POST", "ret": "obj", "paytoqs": "ignore", "url": "http://localhost:1880/api/scene/night", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 400, "y": 320, "wires": [["ui-scene-notify"]]},

    {"id": "ui-scene-notify", "type": "ui-notification", "z": "tab-dashboard", "ui": "ui-base", "position": "top right", "colorDefault": true, "color": "#000000", "displayTime": "3", "showCountdown": true, "outputs": 0, "allowDismiss": true, "dismissText": "", "raw": false, "className": "", "name": "Scene activated", "x": 640, "y": 260, "wires": []},

    {"id": "ui-light-living-switch", "type": "ui-switch", "z": "tab-dashboard", "group": "ui-group-living", "name": "Light", "label": "Light", "order": 1, "width": "3", "height": "1", "passthru": false, "decouple": false, "topic": "living-room", "topicType": "str", "style": "", "className": "", "onvalue": "true", "onvalueType": "bool", "onicon": "mdi-lightbulb-on", "oncolor": "#fbbf24", "offvalue": "false", "offvalueType": "bool", "officon": "mdi-lightbulb-off-outline", "offcolor": "#64748b", "x": 150, "y": 420, "wires": [["ui-light-living-action"]]},
    {"id": "ui-light-living-action", "type": "function", "z": "tab-dashboard", "name": "on/off request", "func": "const room = msg.topic;\nconst action = msg.payload ? 'on' : 'off';\nmsg.url = `http://localhost:1880/api/lights/${room}/${action}`;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 330, "y": 420, "wires": [["ui-light-request"]]},

    {"id": "ui-light-kitchen-switch", "type": "ui-switch", "z": "tab-dashboard", "group": "ui-group-kitchen", "name": "Light", "label": "Light", "order": 1, "width": "3", "height": "1", "passthru": false, "decouple": false, "topic": "kitchen", "topicType": "str", "style": "", "className": "", "onvalue": "true", "onvalueType": "bool", "onicon": "mdi-lightbulb-on", "oncolor": "#fbbf24", "offvalue": "false", "offvalueType": "bool", "officon": "mdi-lightbulb-off-outline", "offcolor": "#64748b", "x": 150, "y": 480, "wires": [["ui-light-kitchen-action"]]},
    {"id": "ui-light-kitchen-action", "type": "function", "z": "tab-dashboard", "name": "on/off request", "func": "const room = msg.topic;\nconst action = msg.payload ? 'on' : 'off';\nmsg.url = `http://localhost:1880/api/lights/${room}/${action}`;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 330, "y": 480, "wires": [["ui-light-request"]]},

    {"id": "ui-light-bedroom-switch", "type": "ui-switch", "z": "tab-dashboard", "group": "ui-group-bedroom", "name": "Light", "label": "Light", "order": 1, "width": "3", "height": "1", "passthru": false, "decouple": false, "topic": "bedroom", "topicType": "str", "style": "", "className": "", "onvalue": "true", "onvalueType": "bool", "onicon": "mdi-lightbulb-on", "oncolor": "#fbbf24", "offvalue": "false", "offvalueType": "bool", "officon": "mdi-lightbulb-off-outline", "offcolor": "#64748b", "x": 150, "y": 540, "wires": [["ui-light-bedroom-action"]]},
    {"id": "ui-light-bedroom-action", "type": "function", "z": "tab-dashboard", "name": "on/off request", "func": "const room = msg.topic;\nconst action = msg.payload ? 'on' : 'off';\nmsg.url = `http://localhost:1880/api/lights/${room}/${action}`;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 330, "y": 540, "wires": [["ui-light-request"]]},

    {"id": "ui-light-bathroom-switch", "type": "ui-switch", "z": "tab-dashboard", "group": "ui-group-bathroom", "name": "Light", "label": "Light", "order": 1, "width": "3", "height": "1", "passthru": false, "decouple": false, "topic": "bathroom", "topicType": "str", "style": "", "className": "", "onvalue": "true", "onvalueType": "bool", "onicon": "mdi-lightbulb-on", "oncolor": "#fbbf24", "offvalue": "false", "offvalueType": "bool", "officon": "mdi-lightbulb-off-outline", "offcolor": "#64748b", "x": 150, "y": 600, "wires": [["ui-light-bathroom-action"]]},
    {"id": "ui-light-bathroom-action", "type": "function", "z": "tab-dashboard", "name": "on/off request", "func": "const room = msg.topic;\nconst action = msg.payload ? 'on' : 'off';\nmsg.url = `http://localhost:1880/api/lights/${room}/${action}`;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 330, "y": 600, "wires": [["ui-light-request"]]},

    {"id": "ui-light-entrance-switch", "type": "ui-switch", "z": "tab-dashboard", "group": "ui-group-entrance", "name": "Light", "label": "Light", "order": 1, "width": "3", "height": "1", "passthru": false, "decouple": false, "topic": "entrance", "topicType": "str", "style": "", "className": "", "onvalue": "true", "onvalueType": "bool", "onicon": "mdi-lightbulb-on", "oncolor": "#fbbf24", "offvalue": "false", "offvalueType": "bool", "officon": "mdi-lightbulb-off-outline", "offcolor": "#64748b", "x": 150, "y": 660, "wires": [["ui-light-entrance-action"]]},
    {"id": "ui-light-entrance-action", "type": "function", "z": "tab-dashboard", "name": "on/off request", "func": "const room = msg.topic;\nconst action = msg.payload ? 'on' : 'off';\nmsg.url = `http://localhost:1880/api/lights/${room}/${action}`;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 330, "y": 660, "wires": [["ui-light-request"]]},

    {"id": "ui-light-office-switch", "type": "ui-switch", "z": "tab-dashboard", "group": "ui-group-office", "name": "Light", "label": "Light", "order": 1, "width": "3", "height": "1", "passthru": false, "decouple": false, "topic": "office", "topicType": "str", "style": "", "className": "", "onvalue": "true", "onvalueType": "bool", "onicon": "mdi-lightbulb-on", "oncolor": "#fbbf24", "offvalue": "false", "offvalueType": "bool", "officon": "mdi-lightbulb-off-outline", "offcolor": "#64748b", "x": 150, "y": 720, "wires": [["ui-light-office-action"]]},
    {"id": "ui-light-office-action", "type": "function", "z": "tab-dashboard", "name": "on/off request", "func": "const room = msg.topic;\nconst action = msg.payload ? 'on' : 'off';\nmsg.url = `http://localhost:1880/api/lights/${room}/${action}`;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 330, "y": 720, "wires": [["ui-light-request"]]},

    {"id": "ui-light-request", "type": "http request", "z": "tab-dashboard", "name": "call API", "method": "use", "ret": "obj", "paytoqs": "ignore", "url": "", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 530, "y": 560, "wires": [[]]},

    {"id": "ui-heat-eco", "type": "ui-button", "z": "tab-dashboard", "group": "ui-group-heating-modes", "name": "Eco", "label": "Eco Mode", "order": 1, "width": "3", "height": "1", "passthru": false, "tooltip": "Set all thermostats to eco", "color": "", "bgcolor": "#166534", "className": "", "icon": "mdi-leaf", "payload": "{}", "payloadType": "json", "topic": "eco", "textColor": "", "x": 160, "y": 800, "wires": [["ui-heat-eco-req"]]},
    {"id": "ui-heat-eco-req", "type": "http request", "z": "tab-dashboard", "name": "POST /api/heating/eco", "method": "POST", "ret": "obj", "paytoqs": "ignore", "url": "http://localhost:1880/api/heating/eco", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 390, "y": 800, "wires": [[]]},

    {"id": "ui-heat-comfort", "type": "ui-button", "z": "tab-dashboard", "group": "ui-group-heating-modes", "name": "Comfort", "label": "Comfort Mode", "order": 2, "width": "3", "height": "1", "passthru": false, "tooltip": "Set all thermostats to comfort", "color": "", "bgcolor": "#b45309", "className": "", "icon": "mdi-fire", "payload": "{}", "payloadType": "json", "topic": "comfort", "textColor": "", "x": 170, "y": 860, "wires": [["ui-heat-comfort-req"]]},
    {"id": "ui-heat-comfort-req", "type": "http request", "z": "tab-dashboard", "name": "POST /api/heating/comfort", "method": "POST", "ret": "obj", "paytoqs": "ignore", "url": "http://localhost:1880/api/heating/comfort", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 410, "y": 860, "wires": [[]]},

    {"id": "ui-cloud-sync-btn", "type": "ui-button", "z": "tab-dashboard", "group": "ui-group-status", "name": "Sync", "label": "Sync to Cloud", "order": 1, "width": "3", "height": "1", "passthru": false, "tooltip": "Push state to digitalhome.cloud", "color": "", "bgcolor": "#1e40af", "className": "", "icon": "mdi-cloud-upload", "payload": "{}", "payloadType": "json", "topic": "sync", "textColor": "", "x": 160, "y": 940, "wires": [["ui-cloud-sync-req"]]},
    {"id": "ui-cloud-sync-req", "type": "http request", "z": "tab-dashboard", "name": "POST /api/cloud/sync", "method": "POST", "ret": "obj", "paytoqs": "ignore", "url": "http://localhost:1880/api/cloud/sync", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 400, "y": 940, "wires": [["ui-cloud-sync-status"]]},
    {"id": "ui-cloud-sync-status", "type": "ui-text", "z": "tab-dashboard", "group": "ui-group-status", "name": "Last sync", "label": "Last sync", "order": 2, "width": "3", "height": "1", "format": "{{msg.payload.status}} — {{msg.payload.action}}", "className": "", "style": false, "font": "", "fontSize": 14, "color": "#94a3b8", "x": 620, "y": 940, "wires": []}
]
